<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Me Vs U</title>
  <meta name="description" content="Me vs U is a competition platform" />
  <meta name="generator" content="" />
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/3.0.0/css/ionicons.css" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@500&family=Shizuru&display=swap" rel="stylesheet">
  <link href="/css/styles.css" rel="stylesheet">
  <!-- 
    <link href="./template.css" rel="stylesheet"> -->
</head>

<style>
  header {
    background-image: url("/images/tug.jpg");
    background-repeat:
      no-repeat;
    background-size: cover;
    background-position: center top;
  }
</style>
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-danger" id="navbar1">
    <div class="container">
      <a class="navbar-brand mr-1 mb-1 mt-0" href="../">Me vs U</a>
      <a></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse justify-content-center" id="collapsingNavbar">
        {{#if logged_in}}
        <ul class="navbar-nav">
          <li class="nav-item dropdown">


            <a class="nav-link dropdown-toggle" href="#" id="themesDd" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              Leaderboards
            </a>
            <div class="dropdown-menu" aria-labelledby="themesDd">
              <a class="dropdown-item px-2" href="/hydration">Daily Hydration</a>

              <a class="dropdown-item px-2" href="../daily-steps">Daily Steps</a>

              <a class="dropdown-item px-2" href="../weekly-miles">Weekly Miles</a>

            </div>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/createCompetition">Create a Competition</a>
          </li>
          <li class="nav-item"> 
            <button id="logout">Logout</button>
          </li>
        </ul>
      </div>
    </div>
    {{else}}
    

    {{/if}}
  </nav>
<body data-spy="scroll" data-target="#navbar1" data-offset="60">
  <header class="bg-secondary">
    <div class="container h-100">
      <div class="row h-100">
        <div class="col-12">
          <div class="text-center m-0 vh-100 d-flex flex-column justify-content-center text-light">
            {{{body}}}
          </div>
        </div>
      </div>
    </div>
  </header>
  
  <main>
  
  </main>
  <footer id="footer" class="bg-dark text-light py-5">
    <div class="container py-5">
      <div class="row">
        <div class="col-6 col-md-6 col-lg-3 mb-2">
          <h6 class="text-uppercase">meet the team</h6>
          <ul class="nav flex-column">
            <li>
              <a class="text-white" target="ext" rel="nofollow" href="" title="Github link">Justin Garner</a>
            </li>
            <li>
              <a class="text-white" target="ext" rel="nofollow" href="" title="Github link">John Q</a>
            </li>
            <li>
              <a class="text-white" target="ext" rel="nofollow" href="http://codeply.com" title="Github link">Melissa
              </a>
            </li>
            <li>
              <a class="text-white" target="ext" rel="nofollow" href="http://bootply.com">Sarah Labrot</a>
            </li>
          </ul>
        </div>
        <div class="col-6 col-md-6 col-lg-3 mb-2">
          <h6 class="text-uppercase"></h6>
          <ul class="nav flex-column">
            <li>
              <a class="text-white" target="_new" href="http://wdstack.com"
                title="The top projects, tools and apps for Web developers"></a>
            </li>
            <li>
              <a class="text-white" target="_new" href="http://theme.cards"></a>
            </li>
            <li>
              <a class="text-white" target="_new" href="http://www.bootbundle.com"></a>
            </li>
            <li>
              <a class="text-white" target="_new" title="Learn about Bootstrap 4 using this free theme"
                href="http://bootstrap4.guide"></a>
            </li>
          </ul>
        </div>
        <div class="col-12 col-md-12 col-lg-6 mb-2 text-right">
          <h6 class="text-uppercase">Follow</h6>
          <ul class="nav float-right">
            <li>
              <a class="text-white mr-2" rel="nofollow" href="http://twitter.com/ThemesGuide"
                title="Follow on Twitter"><i class="h1 fa fa-fw fa-twitter fa-2x ion-logo-twitter"></i></a>
            </li>
            <li>
              <a class="text-white mr-2" rel="nofollow" href="https://www.facebook.com/codeply"
                title="Follow on Facebook"><i class="h1 fa fa-fw fa-facebook fa-2x ion-logo-facebook"></i></a>
            </li>
            <li>
              <a class="text-white mr" rel="nofollow" href="https://github.com/ThemesGuide/bootstrap-themes"
                title="Follow on GitHub"><i class="h1 fa fa-fw fa-facebook fa-2x ion-logo-github"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <!--/row-->
    </div>
  </footer>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>