<body>
  <style>
    h1 { font-family: 'Nunito', sans-serif; color: rgb(194, 19, 19); font-size:
    100px;} p { font-family: 'Trebuchet MS';} h2 {font-size: 70; margin-top:
    -50px; color:rgb(194, 19, 19);}
  </style>

  {{! <h1>
    WELCOME to
  </h1>
  <br />
  <h2> ME vs. U </h2> }}

  <section class="gradient-custom">
    <div class="container py-9 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="card bg-dark text-black" style="border-radius: 1rem">
          <div class="card-body p-3 text-center">
            <div class="card h-100">
              <div
                class="card-body d-flex flex-column justify-content-center align-items-center"
              >
                <h1 class="display-2 text-danger">
                  <img src="/images/hptug.png" alt="tug of war icon" />
                </h1>
                <h4 class="card-title text-danger">Welcome to Me vs. U</h4>
                <p class="card-text">
                  THE site for anyone that loves a competition.
                  <br />
                  Here you can join, create, and invite friends to compete.
                  <br />
                  Go on, have some fun and let the best (wo)man win!
                </p>
                <br />
                <a href="/login" class="btn btn-danger mt-auto">Play</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</body>