 <div>
   <br>
   <br>
   <br>
   <br>
  <h3>Invite People to your Competition!</h3>
<br>
  <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="userDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    See user list
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    {{#each usernames}}
       <a value="" id="user1" class="dropdown-item" href="{{usernames.id}}">{{usernames}}</a>
  </div> <br>
  {{/each}}
  <br>
 
</div>
     <button
        id="createButton"
        type="submit"
        class="btn btn-primary"
      >Start Competing</button>





<script src="/js/invitePeople.js"></script> 
