<div>
  <h3>Invite People to your Competition!</h3>
<br>

  <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="userDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    See user list
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a value="" id="user1" class="dropdown-item" href="#">user1</a>
    <a class="dropdown-item" href="#"></a>
    <a class="dropdown-item" href="#"></a>
  </div> <br>
  <br>

<div>
      <button
        id="startCompetition"
        type="submit"
        class="btn btn-primary"
      >Create Competition</button>
    </div>
<script src="/js/startCompetition.js"></script>
