<div>
  <h3>Invite People to your Competition!</h3>

  <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    See user list
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#"></a>
    <a class="dropdown-item" href="#"></a>
    <a class="dropdown-item" href="#"></a>
  </div> <br>
  <br>
 
</div>
     <button
        id="createButton"
        type="submit"
        class="btn btn-primary"
      >Start Competing</button>
   
<script src="/js/invitePeople.js"></script>
